* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}


.highlights_section,
.footer {
    /*Contentbegrenzung*/
    padding: 0rem max(calc(50% - 720px), 0rem);
}

.highlights_section {
    margin-top: 6.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5rem;
}

.highlights_header {
    padding: 0 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.highlights_header p {
    font-family: Palanquin;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #54370D;
}

.highlights_header_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.highlights_header h2 {
    font-family: Arima;
    font-weight: 700;
    font-size: 3.25rem;
    color: #4EA487;
}

.highlights_header>img {
    height: 3rem;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 7.5rem;
}

.slider_a {
    position: relative;
    width: 100%;
    height: 33.313rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.slider_a_wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.slider_a_element {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity 150ms;
}

.slider_buttons_wrapper {
    display: flex;
    gap: 1.375rem;
    z-index: 2;
}

.element_one {
    background-image: url("./assets/img/slider_image_1.png");
}

.element_two {
    background-image: url("./assets/img/slider_image_2.png");
}

.element_three {
    background-image: url("./assets/img/slider_image_3.png");
}

.element_four {
    background-image: url("./assets/img/slider_image_4.png");
}

.slider_a:has(input[value="one"]:checked) .element_one {
    opacity: 1;
    z-index: 1;
}

.slider_a:has(input[value="two"]:checked) .element_two {
    opacity: 1;
    z-index: 1;

}

.slider_a:has(input[value="three"]:checked) .element_three {
    opacity: 1;
    z-index: 1;

}

.slider_a:has(input[value="four"]:checked) .element_four {
    opacity: 1;
    z-index: 1;
}

.slider_a:has(input[value="one"]:checked) .radio_button_one {
    width: 2.5rem;
    background-color: #F1C953;
}

.slider_a:has(input[value="two"]:checked) .radio_button_two {
    width: 2.5rem;
    background-color: #F1C953;
}

.slider_a:has(input[value="three"]:checked) .radio_button_three {
    width: 2.5rem;
    background-color: #F1C953;
}

.slider_a:has(input[value="four"]:checked) .radio_button_four {
    width: 2.5rem;
    background-color: #F1C953;
}

.slider_element_text {
    width: 72%;
    top: 3.375rem;
    left: 2.375rem;
    padding: 1rem 1.5rem;
    position: absolute;
    color: white;
    background: #FFFFFF1A;
    backdrop-filter: blur(5px);
}

.slider_element_text h2 {
    font-family: Palanquin Dark;
    font-weight: 600;
    font-size: 3rem;
    padding-bottom: 0.5rem;
    line-height: 100%;
}

.slider_element_text p {
    font-family: Palanquin;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 110%;
}

.radio_button {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 1.25rem;
    background-color: white;
    margin-bottom: 2.75rem;
}